NODE_ENV=development
DATABASE=mongodb://iotdevice:<PASSWORD>@example.com:27017/iotdevice
DATABASE_PASSWORD=Exampl3@APP2020
PORT=3000

MQTT_HOST=mqtts://mqtt.example.com
MQTT_PORT=8833
MQTT_USERNAME=username
MQTT_PASSWORD=password
SUBSCRIBE_TO_TOPIC=mytopic

JWT_SECRET=pleaseuserandomuniquekey
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90
