#modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content.bg-secondary
      .modal-header
        h5#exampleModalLabel.modal-title Modal title
        button.close(type='button' data-dismiss='modal' aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body#modal-body
        | ...
      .modal-footer
        button.btn.btn-secondary(type='button' data-dismiss='modal') Close
        button.btn.btn-primary#btn-modal-save(type='button') Save changes
